doctype html
html(lang="ko")
  head
    title #{pageTitle}
  body
    header
      h1=pageTitle
    
    main
      block content
      my-element
    script(src="/src/components/my-element.ts") 
    include partials/footer